@model AboutVM;
@{ ViewBag.Title = "About";
    ViewBag.Header = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Header</h1>
    <p>@Model.Body</p>
    <ul>

        @foreach (var item in Model.ListEmp)
        {
            <li>
                @item
            </li>
        }
    </ul>
</body>
</html>