@model IContentService
@{ ViewBag.Title = "About";
    ViewBag.Header = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.GetHeader()</h1>
    <p>@Model.GetBody()</p>
</body>
</html>