@model Employee[]
@{ ViewBag.Title = "Employees";
    ViewBag.Header = "List of employees";
}

<table>
    <tr style="background-color:cadetblue">
        <th>ID</th>
        <th>Namn</th>
        <th>Email</th>
        <th>Anställd sedan</th>
        <th></th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <th>
                <a href="/index/@emp.Id">
                    @emp.Id
                </a>
            </th>
            <th>
                @emp.Name
            </th>
            <th>
                @emp.Email
            </th>
            <th>
                <partial name="_TimeStamp" model="emp" />
            </th>
            <th>
                <a href="/delete/@emp.Id">
                    Delete
                </a>
            </th>

        </tr>
    }
</table>
